.container .card .card-body .row>* {
    font-size: 0.9em;
    white-space: nowrap;
}

.container .card .card-body h3 {
    font-size: 1.25em;
}

.card img, .album .container div div div img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.album .container div>p~h2 {
    font-size: 4em;
}

.button-container>* {
    cursor: pointer;
    font-size: 1.5em;
}


ul li i {
    background-color: #1ED760;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    font-size: 12px
}

/* .card .card-body .row p:nth-of-type(3)::before {
    content: "\2022";
    display: inline-block;
} */